#title-label {
	width: 150px;
	overflow: hidden;
	text-overflow: ellipsis;
}

#contents {
	background-color: #3F3F3F;
}

#root-icon {
	width: 24px;
	height: 24px;
	align-self: center;
	/* No need for margin right as label element to the right provides that margin.*/
	margin-left: 6px;
	margin-top: 6px;
	margin-bottom: 6px;
}
